* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Lexend", sans-serif;
}

body {
    /* background: #182c25; */
    background: RGB (246, 228, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

#rainbow-color-page-title {
    font-size: 300%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 550px;
    position: absolute;
    top: 15%;
    background-color: #182c25;
    border: 1px solid #FF0066;
    border-radius: 5px;
  }


.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal p {
    font-size: 0.9rem;
    color: #FEF601;
    margin: 0.4rem 0 0.2rem;
  }

  .modal > button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }

  .close {
    display: inline-block;
    font-weight: 700;
    color: #FF0066 ;
    border-radius: 5px;
    border: 2px solid #C62293;
    text-align: center;
    font-size: 1em;

    transform: translate(350px, -200px);
    padding: 0.5rem 0.7rem;
    background: #182c25;
    border-radius: 50%;
  }

#main-game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 90%;
}

.title-container {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid orange;
}

#letter-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#letter-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
   
    box-sizing: border-box;
}

.tile {
    border: 2px solid #C62293;
    min-width: 80px;
    min-height: 80px;
    font-size: 50px;
    font-weight: bold;
    color: orange;

    display: flex;
    justify-content: center;
    align-items: center;
}
    
#keyboard-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 20px;
}
.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;

    border-radius: 2px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    flex-grow: 1;

    cursor: pointer;
    background: #FEF601;
    font-family: inherit;
    font-weight: bold;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}
     
.clue-image-container {
    width: 125px; 
    height: 125px;
    /* border: 2px solid #C62293;  */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 60px;
  }
  
  .clue-image-container img {
    max-width: 100%; 
    max-height: 100%;
  }  


