* {
    font-family : "Lexend", sans-serif;
}

body {
    background: #182c25;
}

#rainbow-color-page-title {
    font-size: 250%;
}

.main-game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center; 
    height: 90%;
    /* Maybe change the height to 90%- test it as mobile first responsive! */
}

.title-container {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid orange;
}

.letter-tile-container {
    width: 35%;
    border: 2px solid red;
}
/* The background-size property is set to 200% auto to make the gradient wider than the key element to allow
animation to smoothly transition through the colors. animation property is used to create an animation called rainbowAnimation. 
It moves the background position from 0% to 100% over a duration of 5 seconds=> continuous rainbow effect. The infinite keyword ensures the animation repeats indefinitely. */

.keyboard-key-container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    border: 2px solid red;
}

.keyboard-key {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200% auto;
    animation: rainbowAnimation 5s linear infinite;
}
      
@keyframes rainbowAnimation {
    0% { background-position: 0% }
    100% { background-position: 100% }
}
      


