* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Lexend", sans-serif;
}

body {
    background: #182c25;
}

#rainbow-color-page-title {
    font-size: 250%;
}

#main-game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 90%;
    /* Maybe change the height to 90%- test it as mobile first responsive! */
}

.title-container {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid orange;
}

#letter-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#letter-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.tile {
    border: 2px solid #C62293;
    min-width: 80px;
    min-height: 80px;
    font-size: 50px;
    font-weight: bold;
    color: #FEF601;

    display: flex;
    justify-content: center;
    align-items: center;
}
    
#keyboard-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;

    border-radius: 2px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    flex-grow: 1;

    cursor: pointer;
    background: #FEF601;
    font-family: inherit;
    font-weight: bold;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

/* #keyboard-key-container button:nth-child(25), 
#keyboard-key-container button:nth-child(26) {
    width: 50px;
} */
     


